<form method="post" action="/" enctype="multipart/form-data">
    <label for="file">CSV file : </label>
    <input type="file" name="file" id="file" accept=".csv" />
    <input type="submit" value="Get data" >
</form>
