body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0;
    padding: 0;
}

li {
    list-style: outside none none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: fit-content;
}
